[submodule "themes/terrassa"]
	path = themes/terrassa
	url = https://github.com/danielkvist/hugo-terrassa-theme.git
[submodule "themes/colordrop"]
	path = themes/colordrop
	url = https://github.com/humrochagf/colordrop.git
[submodule "gesparza.github.io"]
	path = gesparza.github.io
	url = git@github.com:gesparza3/gesparza.github.io.git
