[submodule "themes/terrassa"]
	path = themes/terrassa
	url = https://github.com/danielkvist/hugo-terrassa-theme.git
[submodule "themes/colordrop"]
	path = themes/colordrop
	url = https://github.com/humrochagf/colordrop.git
